<br>
<div class="container">
    <div class="row">
        <div class="col-sm-8 text-center">

            <table class="table table-striped table-hover text-center" width="100%">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">EmpId</th>
                        <th scope="col">Name</th>
                        <th scope="col">Salary</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Action</th>

                    </tr>
                </thead>
                <tbody>
                    @for(emp of employees;track emp.eId;let i = $index){
                    <tr class="fs-8">
                        <td>
                            {{emp.eId}}</td>
                        <td>{{emp.name}}</td>
                        <td>{{emp.sal}}</td>
                        <td>{{emp.gender}} </td>
                        <td>
                            <button type="button" class="btn btn-primary px-6" (click)="viewEmployee(emp);">View throgh Swal</button>

                            <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal"
                                 (click)="selectedEmployee=emp">
                                View through Model
                             </button>
                            <button type="button" class="btn btn-primary mx-1" data-bs-toggle="modal"
                                data-bs-target="#exampleModalEdit" (click)="editEmployee(emp)">
                                Edit
                            </button>
                            <!-- <button type="button" class="btn btn-primary"
                              (click)="enableFormForEdit(emp);">Edit</button> -->

                            <button type="button" class="btn btn-danger" (click)="deleteRecord(i);">Delete</button>
                        </td>
                    </tr>
                    }@empty {
                    <h2 style="text-align: center;"> no employee data </h2>
                    }
                </tbody>
            </table>

        </div>
        <!--<div class="col-sm-6">
             <div>Emp Id:<input type="text" [(ngModel)]="selectedEmployee.id"></div>
             <div>Emp Name:<input type="text" [(ngModel)]="selectedEmployee.name"></div>
             <div>Emp Sal:<input type="text" [(ngModel)]="selectedEmployee.sal"></div>
             <div>Emp Gender:<input type="text" [(ngModel)]="selectedEmployee.gender"></div>
             <button *ngIf="isAdd" (click)="addEmployee()">Add Employee</button>
             <button *ngIf="isAdd" (click)="editEmployee(selectedEmployee)">Edit Employee</button>
        </div>-->

    </div>

     <!-- view Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!--<h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
          <h2>Employee Record</h2>
          <ng-content select="h3"></ng-content>
          <button type="button" class="btn-close" data-bs-dismiss="modal">Close</button>
        </div>
        <div class="modal-body">
          <h4>
            <p>Id: {{ selectedEmployee?.eId }}</p>
          </h4>
          <h4>
            <p>Name: {{ selectedEmployee?.name }}</p>
          </h4>
          <h4>
            <p>sal: {{ selectedEmployee?.sal }}</p>
          </h4>
          <h4>
            <p>sal: {{ selectedEmployee?.gender }}</p>
          </h4>
        </div>
        <div class="modal-footer">
          <!--<button type="button" class="btn btn-danger">
              Close
          </button>-->
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            <h4 style="text-align: left;">Close</h4>
          </button>
        </div>

      </div>
    </div>
  </div>
