<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <p style="text-align:center">model-reactive-form works!</p>
            <form [formGroup]="registerForm">
                <p>
                    First Name:<input formControlName="firstName" />
                    <span class="text-danger" *ngIf="registerForm.controls.firstName.hasError('required')">First name required</span>
                    <span class="text-danger" *ngIf="registerForm.controls.firstName.hasError('minLength')">minmumlength 5 required</span>

                </p>
                <p>
                    Last Name:<input formControlName="firstName" />
                </p>
                <fieldset formGroupName="address">
                    <p>
                        Street:<input formControlName="street" />
                    </p>
                    <p>
                        city:<input formControlName="city" />
                    </p>
                    <p>
                        pin:<input formControlName="pin" />
                    </p>

                </fieldset>
                <button type="button" class="mx-1">Submit</button>
                <button type="reset" class="mx-1">Reset</button>

            </form>
            <p>{{registerForm.value|json}}</p>
        </div>
    </div>
</div>