<div class="container">
    <div class="row">
        <div class="col category text-center">
            <img src="https://rukminim1.flixcart.com/flap/72/72/image/29327f40e9c4d26b.png?q=100" alt="">
            <div>Grocery</div>
        </div>
        <div class="col category">
            <img src="https://rukminim1.flixcart.com/flap/72/72/image/22fddf3c7da4c4f4.png?q=100" alt="">
            <div>Mobiles</div>
        </div>
        <div class="col category">
            <img src="https://tse1.mm.bing.net/th?id=OIP.ZWrpYrv-GDK5LonT_jloZQHaEK&pid=Api&rs=1&c=1&qlt=95&w=206&h=115" alt="">
            <div>Fashin</div>
        </div>
        <div class="col category">
            <img src="https://tse1.mm.bing.net/th?id=OIP.gWAy1GyDoKjsYKQsJK22hAHaE7&pid=Api&rs=1&c=1&qlt=95&w=157&h=104" alt="">
            <div>Electronics</div>
        </div>
        <div class="col category">
            <img src="https://tse1.mm.bing.net/th?id=OIP.5IsO5MdnP7mTIdYM5tb5uAAAAA&pid=Api&rs=1&c=1&qlt=95&w=120&h=120" alt="">
            <div>Home & Furniture</div>
        </div>
        <div class="col category">
            <img src="https://rukminim2.flixcart.com/fk-p-flap/80/80/image/0139228b2f7eb413.jpg?q=100" alt="">
            <div>Appliances</div>
        </div>
        <div class="col category">
            <img src="https://rukminim2.flixcart.com/flap/80/80/image/71050627a56b4693.png?q=100" alt="">
            <div>Travel</div>
        </div>
        <div class="col category">
            <img src="https://tse1.mm.bing.net/th?id=OIP.drCsV5A87Ojk-xOtm5T2_wHaHa&pid=Api&rs=1&c=1&qlt=95&w=123&h=123" alt="">
            <div>Bauty & Toys</div>
        </div>
        <div class="col category">
            <img src="https://tse1.mm.bing.net/th?id=OIP.48_D--YvXpwANbLkiQrAQQHaHa&pid=Api&rs=1&c=1&qlt=95&w=118&h=118" alt="">
            <div>Two Wheeler</div>
        </div>
    </div>
</div>