
<div class="center">
     <!-- <app-assignment18-may></app-assignment18-may>
      <app-assignmenet-of-directive21052024></app-assignmenet-of-directive21052024>-->
      <!--<app-product></app-product>-->
     <!-- <app-employee-crud></app-employee-crud>-->
    <!--<app-employeecrudwithjsonsr></app-employeecrudwithjsonsr>  <!-- assignment--> 
      <!--<app-employee-crud-by-sir></app-employee-crud-by-sir>-->
    <!--  <app-directives></app-directives>-->
      <!--<app-my-model>
            <h2 id="title">Employee Details</h2>
            <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
      </app-my-model>-->
      <!--<app-pipe></app-pipe>-->
     <!-- <app-employeecrud></app-employeecrud>-->
      <!--<app-parents></app-parents>-->
      <!--<app-userdetails></app-userdetails>-->
      <!--<app-traffic-light></app-traffic-light>-->
      <!--<app-display-emp></app-display-emp>-->
      <!--<app-httpclient-comp></app-httpclient-comp>-->
      <!--<app-user></app-user>-->
      <!--<app-productlist></app-productlist>-->
    <!--  <app-observabledemo></app-observabledemo>-->
    <!--<app-observabledemo2></app-observabledemo2>-->
    <!-- <app-observabledemo3></app-observabledemo3> -->
     <!--<app-subjectdemo1></app-subjectdemo1>-->
    <!-- <div class="row">
      <div class="col">
          <app-employee1></app-employee1>
      </div>
      <div class="col">
          <app-employee2></app-employee2>
      </div>
      <div class="col">
        <app-employee3></app-employee3>
      </div>
  </div>-->
  <!--<div class="row">
    <div class="col border">
        <app-employee-sub1></app-employee-sub1>
    </div>
    <div class="col border">
        <app-employee-sub2></app-employee-sub2>
    </div>
    <div class="col border">
      <app-employee-sub3></app-employee-sub3>
    </div>
</div>-->

<!--<div class="row">
  <div class="col-sm-6">
    <app-subject-to-do-list></app-subject-to-do-list>
  </div>
  <div class="col-sm-6">
      <app-subject-to-do-add></app-subject-to-do-add>
  </div>
</div>-->
<!--<app-registration-form></app-registration-form>-->
<!--<app-model-reactive-form></app-model-reactive-form>-->
<app-navbar-cur></app-navbar-cur>
  <router-outlet></router-outlet>

</div>