<div class="card-group">
  <div class="card">
    <div class="card-body">
      <img src="https://rukminim2.flixcart.com/image/200/200/l4x2rgw0/monitor/e/4/b/d20-30-hd-19-5-66e9kac4in-lenovo-original-imagfpguhzfjyaag.jpeg?q=70" class="card-img-top" alt="...">
    </div>    
  </div>
  <div class="card">

    <div class="card-body">
      <img src="https://rukminim2.flixcart.com/image/200/200/xif0q/dslr-camera/i/o/c/eos-r100-24-1-eos-r100-kit-canon-original-imagqeydhsxgacxp.jpeg?q=70" class="card-img-top" alt="...">
    </div>
    
  </div>
  <div class="card">
    <div class="card-body">
      <img src="https://rukminim2.flixcart.com/image/200/200/l58iaa80/headphone/k/z/m/nord-buds-ce-oneplus-original-imagfyk4hyvgg6ze.jpeg?q=70" class="card-img-top" alt="...">
    </div>
    
  </div>
</div>