<div class="container">
    <div class="row">
        <h2>Enter the Employee details</h2>
        <div class="col-sm-12">
            <!--<div>Emp Id:<input type="text" [(ngModel)]="selectedEmployee.id"></div>
            <div>Emp Name:<input type="text" [(ngModel)]="selectedEmployee.name"></div>
            <div>Emp Sal:<input type="text" [(ngModel)]="selectedEmployee.sal"></div>
            <div>Emp Gender:<input type="text" [(ngModel)]="selectedEmployee.gender"></div>
            <button *ngIf="isAdd" (click)="addEmployee()">Add Employee</button>
            <!--<button *ngIf="isAdd" (click)="editEmployee(selectedEmployee)">Edit Employee</button>-->
            <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Emp Id:</label>
                  <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" id="empId" [(ngModel)]="selectedEmployee.eId" aria-describedby="enter Emp Id" placeholder="Enter Emp Id">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Emp Name:</label>
                  <input type="text" class="form-control" id="empName" placeholder="enter Emp Name" [(ngModel)]="selectedEmployee.name"  [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Emp Sal:</label>
                    <input type="text" [(ngModel)]="selectedEmployee.sal" class="form-control" id="Sal" placeholder="enter Emp sal" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Emp Gender:</label>
                    <input type="text" [(ngModel)]="selectedEmployee.gender" class="form-control" id="gender" placeholder="enter Emp gender" [ngModelOptions]="{standalone: true}">
                  </div>             
                  
              </form>
              <br>
              <button  class="btn btn-primary" (click)="addEmployee()">Add Employee</button>
        </div>
    </div>
</div>