/* You can add global styles to this file, and also import other style files */

@import 'bootstrap/dist/css/bootstrap.css';
.dark-theme
{
    color:white;
    background-color: black;
}
.light-theme
{
    color:black;
    background-color: white;
}

